.move {
    min-width: 30px;
    border: solid 1px;
    text-align: center;
    margin-right: 2px;
}

.move:hover {
    background-color: aquamarine;
}

.moves-list {
    display: flex;
}

.user-bot {
    color: red;
}